html,
body {
  padding: 0;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   justify-content: center;
background-image: url(image/Untitled\ design\ \(16\).png);
background-repeat: no-repeat;
    align-items: center;
    
}
.us h1{
  color: rgb(0, 0, 0);
}
.us p{
  color: #000000;
}
.bgg{
 
  min-height: 100vh;
  width: 100%;
  background-image: url(image/bg\ \(1\).jpg);
  background-position: center;
  background-size: cover;
  
  position: relative;

}
.bggg{
  min-height: 100vh;
    width: 100%;
    background-image: url(image/bg\ \(2\).jpg); 
     background-position: center;
    background-size: cover;
    
    position: relative;

}
.bgggg{
  min-height: 100vh;
    width: 100%;
    background-image: url(image/bg\ \(3\).jpg); 
     background-position: center;
    background-size: cover;
    
    position: relative;
}
.bggggg{
  min-height: 100vh;
    width: 100%;
    background-image: url(image/bg\ \(4\).jpg); 
     background-position: center;
    background-size: cover;
    
    position: relative;
}
.reno{
  margin-top: 50px;
  min-height: 100vh;
    width: 100%;
    background-image: url(image/bg\ \(5\).jpg); 
     background-position: center;
    background-size: cover;
    
    position: relative;
}
nav.sticky{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
nav{
  display: flex;
  padding: 0% 6%;
  
  background-attachment: fixed;
  justify-content: space-between;
  align-items: right;
  background-color: #000000;

 
 
  
}
nav img{
  width: 120px;
  background-color: #000000;
  
  
}
#nav-links {
  
  background-color: rgb(0, 0, 0);
}
.nav-links{
  flex: 1;
  
  width: fit-content;
  text-align: right;
  background-color: #000000;

}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  animation: fadeIn 5s;
  
  
} 
.nav-links ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  background-attachment: fixed;
  font-weight: 400;
  
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #ffc400;
  display: block;
  margin: auto;
}
.nav-links ul li:hover::after{
  width: 100%;
}
nav .fa{
  display: none;
  
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.menu{
    width: 80px;
    text-align: center;
    margin: auto;
    align-items: right;
    color: #000000;
    background-color: #000000;
}
.menu a{
    text-align: center;
    background-color: #000000;
}
.text-top{
  padding-top: 150px;
  padding-left: 25px;
  
  height: 100vh;
  background-size: 100%;
  background-attachment: fixed;
  
  
}
.text-top h1{
  color: #000000;
} 
h1{
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  padding:2%;
  margin: auto;
  text-decoration: underline;
  color: #000000;
  
}
.love p{
  color: #000000;
}
.love h1{
  text-align: center;
  font-size: 38px;
  font-weight: 200;
  padding:2%;
  color: rgb(0, 0, 0);
  
  text-decoration: overline;
  text-decoration: underline overline;
}
.web p{
  color: #fff;
}
p{
  text-align: center;
  font-weight: 200;
  padding:2% 2%;
  font-size: 28px;
}
.contact{
  display: flex;
  width: 100%;
  margin: auto;
}
.contact img{
  flex-direction: column;
  width: 400px;
  width: 80%;
  
}
.web h1{
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
.work{
  width: 100%;
  
  display: flex;


padding-bottom: 100px;

}
.work a{
    width: 70%;
}
.work img{
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  
  margin: auto;
  
}
.work p{
  align-items: center;
  color: #ffffff;
}


.btn{
    width: 50px;
}
.text-top h2{
    text-align: left;
    font-size: 60px;
    color: rgb(0, 0, 0);

}
.text-top p{
    text-align: left;
    color: rgb(0, 0, 0);
}
.options{
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  width: 100%;
  margin: auto;
  text-align: center;
}
.options img{
  
  width: 300px;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
.option{
    width: 80%;
}
.options h1{
  color: #000000;
}

.workk{
  width: 100%;
  
  display: flex;
padding-top: 100px;
background-color: #fcfcfc;
padding-bottom: 100px;

}
.workk a{
    width: 70%;
}
.workk h1{
  color: #000000;
}
.workk img{
  flex-direction: column;
  width: 300px;
  justify-content: space-between;
  
  margin: auto;
  
}
.workk p{
  align-items: center;
  color: #ffffff;
}

  .workk a :hover {
    box-shadow: 0 0 20px 10px #000000;
  }

.nav{
  justify-content: space-between;
    align-items: center;
    width: fit-content;
  display: flex;
  position: -webkit-sticky;
}
.nav img{
  width: 1200px;
  
}
.footer p{
  color: #fff;
}

.bg img{
  
  width: 20%;
  background-color: #000000;
  
}
.us{
  text-align: center;

}
.us h1{
  text-decoration: underline;
}
.us img{
  width: 75px;
}
.apps{
  width: 100%;
  
  display: flex;

background-color: rgb(0, 0, 0);
padding-bottom: 100px;

}
.apps a{
  width: 70%;
}
.apps img{
flex-direction: column;
width: 300px;
justify-content: space-between;

margin: auto;

}
.apps p{
align-items: center;
color: #ffffff;
}

h6{
  color: #fff;
}
.list{
  display: flex;
  margin: auto;
  width: 80%;
  
}
.list img{
  width: 40%;
}
.footer{
  
  display: block;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 10px;
}

.footer p{ 
  font-size: 14px;
  text-align: center;
}
.footer h2{
  color: #fff;
  text-align: left;
  
}
.footer h3{
  color: #ffc400;
  font-size: medium;
}
h1{
  color: rgb(0, 0, 0);
}
h2{
  color: rgb(0, 0, 0);
}
p{
  color: rgb(0, 0, 0);
}
.downn{
  background: #000000;

}
h4{
  font-size: 65px;
}
.downn p{
  font-size: 16px;
}
.text p{
  text-align: center;
}

@media(max-width: 700px){
  .text-top p{
    height: 1000px;
    padding-bottom: 100px;
  }
  .bgg{
    display: block;
    background-size: cover;
    background-image: url(image/bgg\ \(1\).jpg); 
    padding-bottom: 50px;
    background-repeat: no-repeat;
  }
  .bggg{
    background-image: url(image/bgg\ \(2\).jpg); 
    background-repeat: no-repeat;
  }
  .bgggg{
    background-image: url(image/bgg\ \(3\).jpg); 
    background-repeat: no-repeat;
  }
  .bggggg{
    background-image: url(image/bgg\ \(4\).jpg);
    background-repeat: no-repeat;
    background-size: 90%; 
  }
  .reno{
    background-image: url(image/bgg\ \(5\).jpg); 
    background-repeat: no-repeat;
  }
  .contact{
    display: block;
  }
  .list{
    display: block;
  }
  .list img{
    display: block;
    width: 100%;
  }

.workk{
  display: block;
}
.apps{
  display: block;
}
h4{
  font-size: 45px;
}
  .options{
    display: block;
    padding-left: 10%;
  }
  .work{
    width: 100%;
  }
  .nav-links ul li{
    display: block;
    color: #040404;
    border: #00dcd1;
}
.nav-links ul li a{
    display: block;
    color: #040404;
}
.nav-links{
    position: fixed;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: right;
    z-index: 1;
    transition: 1s;
    margin: auto;
    
}
    

nav .fa {
    display: block;
    color: #fff;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

    

    }
nav .fa-times{
    display: block;
    color: #000000;
    margin: 16px;
    font-size: 32px;
    cursor: pointer;
    transition: 1s;

}
.fcf-form-group{
  margin: auto;
  text-align: center;
  
}
.fcf-form-class h1{
  color: #fff;
}
.nav-links ul{
    padding: 15px;
    color: #040404;
}
.bg img{
  width: 80%;

}
.work{
  display: block;
}
  .footer{
   display: block;
   width: 100%;
    background-color: #000000;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
  }
  .footer h2{
   
    display: block;
    
  }
  .footer p{
    display: block;
  }
}
